<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Record</title>
</head>
<body>
    <form id="add_record_form" method="post" action="/wtrack/add_record/">
 {% csrf_token %}
 {% for field in form_rec.visible_fields %}
 {{ field.errors }}
 {{ field.help_text }}
 {{ field }}
 {% endfor %}
 {% for field in form_ew.visible_fields %}
 {{ field.errors }}
 {{ field.help_text }}
 {{ field }}
 {% endfor %}
 {% for field in form_ew.visible_fields %}
 {{ field.errors }}
 {{ field.help_text }}
 {{ field }}
 {% endfor %}
 <input type="submit" name="submit" value="Create Category" />
</body>
</html>