<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Record</title>
</head>
<body>
    <form id="weight_form" method="post" action="/wtrack/add_record/">
     {% csrf_token %}
     {{ weight }}
    <input type="submit" name="submit_weight" value="Submit Morning Weight" />
    </form>

     <form id="additions_form" method="post" action="/wtrack/add_record/">
      {% csrf_token %}
      {{ additions }}
     <input type="submit" name="submit_addition" value="Submit Additional Fields" />
     </form>
</body>
</html>