<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My own little weight Tracker</title>
</head>
<body>
    <h1>Weight tracker.. </h1>
    <div>
        ..is about to land! <br>

    </div>
    <div>
        {% if records %}
        <ul>
            {% for record in records %}
            <li>{{ record.date }} {{record.morningweight__morning_weight }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No records available.</strong>
        {% endif %}
    </div>
    <div>
        <img src="{% static "images/goat.png" %}" alt="Pic of a goat" />
    </div>
    <div>
        <a href="/wtrack/about/"> About.</a><br>
    </div>
</body>
</html>