<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/signin.css" %}" rel="stylesheet">

  </head>
<body class="text-center">

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <h1 class="h3 mb-3 font-weight-normal">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</h1>
        {% else %}
        <h1 class="h3 mb-3 font-weight-normal">Please login to see this page.</h1>
        {% endif %}
    {% endif %}

    <form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </div>
    <div>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </div>

    <div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>

      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    {#<p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-slim.min.js" %}"><\/script>')</script>
<script src="{% static "js/vendor/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>
